<div id="wrapper">
  <div id="left">
  	<h1>Welcome! New website coming soon!</h1>
  	<p>Would you like to divert some cash flow back into your business?</p>
  	<p>Material Mix is a unique kind of waste diversion company, tailored to meet the needs of businesses like yours!</p>
  	<p>We are an online marketplace that allow businesses to list and purchase reusable by-products from other industries. Our customers not only save on disposal fees, but turn their own re-usable waste stream into a new source of revenue. Your company is literally throwing away a source of funding!</p>
  	<p>Material Mix is the easy solution to meet waste diversion goals and increase your cash flow.</p>
  	<p>To learn more, email us at info@materialmix.com</p>

  </div>
</div>